# Installer logs
pip-log.txt
pip-delete-this-directory.txt


# Django stuff:
*.log
*.pot
*.pyc
__pycache__/
db.sqlite3
media
staticfiles

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# dotenv
.venv

# idea
.idea

